/* START DESKTOP STYLE   */
@media only screen and (min-width: 1025px) {

  .content-width {
    padding: 0 3rem 0 3rem;
    text-align: left;
  }

  .p-body {
    line-height: 2em;
    color: white;
    padding: 0rem;
}

  .p-easy {
    line-height: 2em;
    width: 80%;
  }

  .hero-button {
    margin-top: -40px;
    margin-left: 200px;
    display: inline-block;
    max-width: 100px;
  }


  .top-phone {
    width: 80%;
  }

  .phone {
    margin-left: 4rem;
    width: 70%;

  }

  .hero-start {
    margin-top: 0px;
    ;
  }

  .input {
    width: 100%;
  }

  .has-bg-img {
    background: url('/starter-code/assets/shared/desktop/bg-pattern-circle.svg') right bottom;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 40rem -8rem;
    margin-left: ;
  }

  .bg-img-brands {
    background: url('/starter-code/assets/shared/desktop/bg-pattern-circle.svg') left bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -10rem -12rem;
    background-color: #1B262F;
  }

  .bg-img-simple {
    background: url('/starter-code/assets/shared/desktop/bg-pattern-circle.svg') center center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 55rem 0rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .center-aligned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 60%;
  }

  .brands {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2rem 6rem 2rem 6rem;
  }

  .brand-section {
    padding: 0 2rem 0 3rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    align-self: center;
  }

  .features {
    padding: 2rem;
    text-align: left;
  }

  .features-text {
    text-align: left;
}

footer {
  background-color: #1b262f;
  color: #ffffff;
  margin-left: 0rem;
  padding: 2rem;
}

.menu {
  display: inline-flex;
  background-color: transparent;
}

}