/* MOBILE FIRST */

.container {
    background-color: #edf3f8;
    font-size: 0.9em;
}

.center-aligned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-width {
    padding: 0 2rem 0 3rem;
    display: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    align-self: center;
}

.hero-start {
    margin-top: -150px;
}

.has-bg-img {
    background: url("/assets/shared/desktop/bg-pattern-circle.svg") center;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50% -30rem;
}

#hero .navbar.is-transparent {
    background-color: transparent;
}

footer .navbar.is-transparent {
    background-color: transparent;
}

.title {
    font-family: "DM Serif Display", serif;
    color: #36536b;
}

.p-body {
    line-height: 2em;
    color: white;
    padding: 2rem;
}

.body-text {
    padding: 0 1rem 0 1rem;
    color: white;
}

.input {
    width: 100%;
}

.hero-button {
    margin-top: 20px;
    margin-left: 0px;
    display: inline-block;
    min-width: 200px;
    width: 315px;
}

.brands {
    background-color: #1b262f;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.brand-section {
    padding: 0 2rem 0 3rem;
    display: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    align-self: center;
}

.footer-logo {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(180deg) brightness(104%) contrast(101%);
    width: 100%;
}

.brand-logo {
    padding: 2rem 1rem 2rem 0rem;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(180deg) brightness(104%) contrast(101%);
}

.features-text {
    text-align: center;
}

.testimonials-text {
    max-width: 85%;
    text-align: center;
}

.input-bottom {
    width: 100%;
}

footer {
    background-color: #1b262f;
    color: #ffffff;
    margin-left: -2rem;
    display: flex;
    justify-content: center;
}

.menu{
   text-align: center;
    background-color: transparent;
  }

@media only screen and (max-width: 430px) {
    .hero-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: -1rem;
        margin-top: -20px;
    }

    .brand-columns {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .phone {
        margin-left: 20px;
    }

    .top-phone {
        width: 85%;
        
    }

    .illustration-a {
        width: 150%;
    }

    .illustration {
        width: 380px;
        margin-left: 0px;
    }

    .brands-column {
        display: flex;
        flex-direction: column-reverse;
    }

    .simple-column {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 3rem;
    }

    /* .footer-column {
        display: inline-block;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width:
        color: #ffffff;
    } */



}