@media only screen and (max-width: 1024px) and (min-width: 431px) {

  .container {
    background-color: #edf3f8;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center align-items: center;
    align-content: center;
    max-width: 1024px;
  }

  .content-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
    text-align: center;
  }

  .has-text-centered-mobile {
    padding: 0 0 0 0;
  }

  footer .navbar-menu {
    background-color: transparent;
    text-align: center;
}

footer .navbar.is-transparent {
    background-color: transparent;
}

  .brands {
    padding: 0 2rem 0 2rem;
    text-align: center;
  }

  .brand-columns {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }


  .hero-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
  }

  .hero-start {
    min-width: 350px;
  }

  .has-bg-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: url("/assets/shared/desktop/bg-pattern-circle.svg") center center;
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: 20rem -45rem;
  }

  .simple-column {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 3rem;
  }

  .top-phone {
    width: 55%;
  }

  .phone {
    margin-left: 2rem;
  }

  .input {
    width: 85%;
    margin-left: -5rem;
  }

  .input-bottom {
    width: 80%;
  }

  .hero-button {
    margin-top: -40px;
    margin-left: 220px;
    display: inline-block;
    max-width: 100px;
  }


  .hero-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
    margin-left: 0px;
    text-align: center;
    width: 70%;
  }

  .illustration-a {
    margin-left: 2rem;
  }

  .illustration {
    margin-left: 0rem;
  }

  .body-text {
    width: 70%;
    text-align: center;
  }

  .p-body {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .features-text {
    text-align: center;
  }

  .ready {
    display:flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .columns {
    column-gap: 1rem;
  }

  .column-section {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    padding-top: 3rem;
  }

  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .testimonials-text {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
  }



}